<div class="site-footer">
  <div class="copy">
    <i class="fas fa-copyright"></i>
    <div class="copy-date">2019</div>
    <div class="copyrighted">Maxime Bordeleau</div>
  </div>
  <div class="author-info">
    <a target="blank" href="https://github.com/DeBordy"><i class="fab fa-github"></i></a>
    <a target="blank" href="https://docs.google.com/document/d/1oH4SbSxzcJkoqUtAwxhDHE1Tp0nOFsYXMpHhGsyNCHg/edit?usp=sharing"><i class="fab fa-google-drive"></i></a>
    <a target="blank" href="https://www.linkedin.com/in/maxime-bordeleau-a5613416/"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
