<div id="album-description">
  <h1 class="album-header">
    <span *ngIf="getBasicInformation()?.year" class="album-year">{{ getBasicInformation()?.year }}</span>
    <span class="album-name">{{ getBasicInformation()?.title }}</span>
  </h1>
  <div class="album-artists">
    <h2>Artiste{{getArtists()?.length > 1 ? 's' : ''}}</h2>
    <ul>
      <li *ngFor="let artist of getArtists()">
        <span class="album-artist-name">{{ artist.name }}</span>
      </li>
    </ul>
  </div>
  <div class="album-formats">
    <h2>Format{{getFormats()?.length > 1 ? 's' : ''}}</h2>
    <ul>
      <li *ngFor="let format of getFormats()">
        <span class="album-format-name">{{ format.name }}</span>
        <span class="album-format-descriptions">{{ format.descriptions.join(', ') }}</span>
      </li>
    </ul>
  </div>
</div>
